{% extends "index.html" %}
{% block start %}

<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Signup</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p><b> Already have an account? </b><a href=" /login">Login</a></p>
                            <button type="submit" class="btn btn-primary">Signup</button>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}